@import "../../../node_modules/bootstrap/scss/bootstrap";

.cardContainer{
    @extend .card;
    @extend .col-12;
    @extend .col-sm;
    margin-right: 25px;
    margin-bottom: 25px;
}

.badgeCategory {
    // badge bg-warning text-dark
    @extend .badge;
    @extend .bg-warning;
    @extend .text-dark;
    margin-right: 5px;
}

.badgeSource {
    @extend .badge;
    @extend .bg-dark;    
    margin-right: 5px;
}