@import "../node_modules/bootstrap/scss/bootstrap";

$small:576px;
$medium:768px;
$large:960px;
$extra-large:1200px;

.gutter {
    margin-top: 10px;
}

.app {
    text-align: center;
}

.bannerBackground {
    background-color:darkblue;
    color:white;
}

.bannerContainerDesktop {
    @extend .bannerBackground;
    @media screen and (max-width: $small) {
        display: none;
    }
}

.bannerContainerMobile {
    display: none;
    @extend .bannerBackground;    
    @media screen and (max-width: $small) {
        display: block;
    }

}

.banner {
    @extend .fs-1;
    margin-left: 5px;
}

.disclaimer1 {
    @extend .fs-5;
    @extend .lh-sm;
    margin-top: 5px;
}

.disclaimer2 {
    @extend .fs-6;
    @extend .lh-sm
}

.disclaimer3{
    text-decoration: underline;
}

.disclaimerVerticalRule{
    @extend .vr;
    width: 2px;
    height:40px;
    margin-top: 9px;
    background-color:white;
}

.articleContainer {
    @extend .container;
    margin-top: 30px;
}