@import "../node_modules/bootstrap/scss/bootstrap";

.gutter {
    margin-top: 10px;
}

.app {
    text-align: center;
}

.banner {
    @extend .fs-1;
}

.bannerContainer {    
    background-color:black;
    color:white
}

.disclaimer1 {
    @extend .fs-5;
    @extend .lh-sm;
    margin-top: 5px;
}

.disclaimer2 {
    @extend .fs-6;
    @extend .lh-sm
}

.disclaimer3{
    text-decoration: underline;
}

.disclaimerVerticalRule{
    @extend .vr;
    width: 2px;
    height:40px;
    margin-top: 9px;
    background-color:white;
}

.articleContainer {
    @extend .container;
    margin-top: 30px;
}